@inherits LayoutComponentBase
@inject NavigationManager Navigation; 
<div class="page">
    <!-- שורת הניווט העליונה -->
    <header class="top-row">
        <button class="btn-nav" @onclick="NavigateToHome">בית</button>
        <button class="btn-nav" @onclick="NavigateToAddItem">הוסף פריט</button>
        <button class="btn-nav" @onclick="NavigateToPlanOutfits">תכנון אאוטפיט</button>
        <button class="btn-nav" @onclick="NavigateToViewOutfits">אאוטפיטים מתוכננים</button>
        <button class="btn-nav" @onclick="NavigateToLaundry">מעקב כביסה</button>

    </header>

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>



@code {
    private void NavigateToHome()
    {
        Navigation.NavigateTo("/home"); // ניווט לעמוד הבית
    }

    private void NavigateToAddItem()
    {
        Navigation.NavigateTo("/add-item"); // ניווט לעמוד הוספת פריט
    }

    private void NavigateToPlanOutfits()
    {
        Navigation.NavigateTo("/plan-outfits"); // ניווט לעמוד תכנון אאוטפיט
    }

    private void NavigateToViewOutfits()
    {
        Navigation.NavigateTo("/outfit-list"); // ניווט לעמוד הצגת אאוטפיטים מתוכננים
    }

    private void NavigateToLaundry()
    {
        Navigation.NavigateTo("/laundry-list"); // ניווט לעמוד הצגת מעקב כביסה

    }
}
